.footer {
    background: #161617;
}
.copyright {
    display: flex;
    align-items: center;
    padding: 15px 60px 15px 60px;
    justify-content: space-between;
}
.copyright__text {
    color: #777E90;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.copyright__social {
    display: flex;
    align-items: center;
    gap: 15px;
}
.facebook {
    fill: #777E91;
    cursor: pointer;
    transition: fill 0.3s linear, transform 0.3s linear;
    &:hover {
        fill: rgb(250, 43, 78);
        transform: scale(1.7) translateY(-4px) rotate(-360deg);
    }
}

.face {
    transition: fill 0.3s linear, transform 0.3s linear;
    &:hover {
        fill: rgb(60, 47, 252);
        transform: scale(1.7) translateY(-4px) rotate(-360deg);
    }
}